*{
    margin: o;
    padding: 0;
    box-sizing: border-box;
    font-family:'poppins', sans-serif ;
    text-decoration: none;
    list-style: none;
}
/*:root{
    --bg-color:var(--bg-color)#101113;
    --tex-color:#fff;
    --main-color:#34e7f8;
    --other-color:#fcfcfc;
    --h1-font:4rem;
    --p-font:1rem;
}*/
body{
    background-color: #101113;
    color: #fff;
}
header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items:center ;
   justify-content: space-between;
    padding: 30px 8%;
}
.logo{
    display: flex;
    align-items: center;
    color:rgb(34, 12, 197);

}
.logo i{
    color: rgb(34, 12, 197);
    font-size: 32px;
    margin-right: 5px;
}

    

.navegacao{
    display: flex;/*alinha escrita  visao especificacoesetc*/

}
.navegacao a{
    color: #fff;
    font-size: 1rem;
    font-weight: 500;
    margin: 0 30px;
    transition: a .55s ease;
}
.navegacao a:hover{
    color: #34e7f8;
}
.header-icons{
    display: flex;
    align-items: center;
}
#menu{
    font-size: 35px;
    color:#fff ;
    z-index:1001 ;
    cursor: pointer;
}
.header-icons{
    margin-right: 25px;
    font-size: 28px;
    cursor: pointer;
    transition: all .5s ease;
}
.header-icons:hover{
    transform: translateY(-5px);
    color: #34e7f8;

}
.home-img{
    width: 600px;
    margin-top: 20px;
   
}
.home{
    position: relative;
    height: 100vh;
    width: 100%;
    display: flex;
    grid-template-columns: 2fr,1fr;
    align-items: center;
    gap: 2rem;
   
}
.home-text h1{
    font-size: 3rem;
    line-height: 1.2;
    margin-bottom: 2px;
}
.home-text h5{
    color:rgb(34, 12, 197);
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 60px;
    
}
.home-text h3{
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 2px;
  margin-bottom: 35px;  
  color:rgb(34, 12, 197);
}
.home-img img{
    max-width: 100%;
    width: 28rem;
    height: auto;
    margin-left: 25%;
}
.btn{
    color: black;
    display: inline-block;
    padding: 15px 70px;
    font-size: 16px;
    font-weight: 500;
    background:#012726 ;
    border: solid 2px #fff;
    transition: all.55 ease;
}
.btn:hover{
    background:rgb(34, 12, 197);
    border: 2px solid #fff;
   
}
.main{
    position: absolute;
    top: 70%;
    left: 5%;
    transform: translateY(-70%);
    justify-content: center;
    align-items: center;
    display: block;

}
.main li img{
  width: 80px;  
    height: auto;
    max-width: 100%;
    padding: 5PX;
}
.row {
    margin: 15PX;
    background: #e2e2e2;
    width: 75px;
    height: 77px;
    border-radius: 50%;
    transition: all.55s ease;
   cursor: pointer;
    
}
.row:hover{
    transform: translateY(-8px);
}
.row-2{
    margin: 15PX;
    background:#20c2d8 ;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    transition: all.55s ease;
   cursor: pointer;
}
.row-2:hover{
     transform: translateY(-8px);
}

.row-3{
    margin: 15PX;
    background-color: #ff0000;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    transition: all.55s ease;
   cursor: pointer;
}
.row-3:hover{
    transform: translateY(-8px);
}




